[submodule "third_party/Fast-SSIM"]
	path = third_party/Fast-SSIM
	url = https://github.com/AlphonsG/Fast-SSIM
[submodule "third_party/etos-deepcut"]
	path = third_party/etos-deepcut
	url = https://github.com/AlphonsG/etos-deepcut
