
build/

dist/

epic/__pycache__/

epic/analysis/__pycache__/

epic/detection/__pycache__/

epic/features/__pycache__/

epic/tracking/__pycache__/

epic/utils/__pycache__/

epic.egg-info/

misc/notebooks/.ipynb_checkpoints/

epic/preprocessing/__pycache__/

epic/logging/__pycache__/
